.dic_index {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.dic_index .subject {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.dic_index .subject /deep/.is-current {
  background-color: #5586d1 !important;
}

.dic_index .subject .choose_tree {
  width: 200px;
  border-right: 1px solid #eaeefb;
}

.dic_index .subject .choose_tree .head {
  height: 50px;
  background-color: #f6f7fc;
}

.dic_index .subject .choose_tree .pageTree {
  margin-top: 15px;
}

.dic_index .subject .content {
  width: calc(100% - 200px);
}

.dic_index .subject .content .search_box {
  height: 50px;
  background-color: #f6f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dic_index .subject .content .search_box /deep/.el-tag {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dic_index .subject .content .search_box /deep/.el-select,
.dic_index .subject .content .search_box /deep/.el-input {
  width: 200px !important;
}

.dic_index .subject .content .search_box .btn_group {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.dic_index .subject .content .child_components {
  height: calc(100% - 50px);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dic_index .subject .content .child_components /deep/.el-table .cell .el-link.name_box {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dic_index .subject .content .child_components /deep/.el-table .cell .el-link.name_box .el-link--inner {
  width: 220px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dic_index .subject .content .child_components .dic_item {
  width: 100%;
  height: 100%;
}

.dic_index .subject .content .child_components .dic_item .dicitem_data {
  height: 100%;
}

.dic_index .subject .content .child_components .dic_combine {
  width: 100%;
  height: 100%;
}

.dic_index .subject .content .child_components .dic_combine .combine_data {
  height: 100%;
}

.dic_index .subject .content .child_components .dic_item_value,
.dic_index .subject .content .child_components .dic_item_contrast,
.dic_index .subject .content .child_components .dic_combine_charge,
.dic_index .subject .content .child_components .dic_combine_apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.dic_index .subject .content .child_components .dic_item_value .dicItemValue_data,
.dic_index .subject .content .child_components .dic_item_value .contrast_data,
.dic_index .subject .content .child_components .dic_item_value .combineCharge_data,
.dic_index .subject .content .child_components .dic_item_value .combine_data,
.dic_index .subject .content .child_components .dic_item_contrast .dicItemValue_data,
.dic_index .subject .content .child_components .dic_item_contrast .contrast_data,
.dic_index .subject .content .child_components .dic_item_contrast .combineCharge_data,
.dic_index .subject .content .child_components .dic_item_contrast .combine_data,
.dic_index .subject .content .child_components .dic_combine_charge .dicItemValue_data,
.dic_index .subject .content .child_components .dic_combine_charge .contrast_data,
.dic_index .subject .content .child_components .dic_combine_charge .combineCharge_data,
.dic_index .subject .content .child_components .dic_combine_charge .combine_data,
.dic_index .subject .content .child_components .dic_combine_apply .dicItemValue_data,
.dic_index .subject .content .child_components .dic_combine_apply .contrast_data,
.dic_index .subject .content .child_components .dic_combine_apply .combineCharge_data,
.dic_index .subject .content .child_components .dic_combine_apply .combine_data {
  width: 30%;
}

.dic_index .subject .content .child_components .dic_item_value .dicItemValue_son,
.dic_index .subject .content .child_components .dic_item_value .contrast_son,
.dic_index .subject .content .child_components .dic_item_value .combineCharge_son,
.dic_index .subject .content .child_components .dic_item_value .combineapply,
.dic_index .subject .content .child_components .dic_item_contrast .dicItemValue_son,
.dic_index .subject .content .child_components .dic_item_contrast .contrast_son,
.dic_index .subject .content .child_components .dic_item_contrast .combineCharge_son,
.dic_index .subject .content .child_components .dic_item_contrast .combineapply,
.dic_index .subject .content .child_components .dic_combine_charge .dicItemValue_son,
.dic_index .subject .content .child_components .dic_combine_charge .contrast_son,
.dic_index .subject .content .child_components .dic_combine_charge .combineCharge_son,
.dic_index .subject .content .child_components .dic_combine_charge .combineapply,
.dic_index .subject .content .child_components .dic_combine_apply .dicItemValue_son,
.dic_index .subject .content .child_components .dic_combine_apply .contrast_son,
.dic_index .subject .content .child_components .dic_combine_apply .combineCharge_son,
.dic_index .subject .content .child_components .dic_combine_apply .combineapply {
  width: 70%;
}

.dic_index .subject .content .child_components .dic_item_charge {
  height: 100%;
}

.dic_index .subject .content .child_components .dic_item_charge .dicItem_charge {
  height: 100%;
}

.dic_index .dicitemvalue_dia /deep/.el-dialog__header,
.dic_index .dicitemvalue_dia /deep/.el-dialog__body,
.dic_index .dicitemvalue_dia /deep/.el-dialog__footer {
  padding: 15px;
}

.dic_index .dicitemvalue_dia /deep/.el-dialog__footer .dialog-footer {
  text-align: center;
}

.dic_index .dicitemvalue_dia /deep/.el-dialog__body .el-form {
  width: 95%;
}

.dic_index .dicitemvalue_dia /deep/.el-dialog__body .el-form .el-form-item .el-select {
  width: 100%;
}

.dic_index .fade-enter {
  opacity: 0;
}

.dic_index .fade-leave {
  opacity: 1;
}

.dic_index .fade-enter-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.dic_index .fade-leave-active {
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}