.qualitycontrol {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px;
}

.qualitycontrol .head_box {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qualitycontrol .head_box .btn_group {
  display: flex;
  justify-content: space-between;
}

.qualitycontrol .head_box .time_box {
  display: flex;
}

.qualitycontrol .head_box .time_box .time_item {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.qualitycontrol .head_box .time_box .time_item .time_title {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.qualitycontrol .subject {
  margin-top: 6px;
  width: 100%;
  height: calc(100% - 108px);
}

.qualitycontrol .subject /deep/.el-row {
  height: 100%;
  display: flex;
}

.qualitycontrol .subject .subject_l,
.qualitycontrol .subject .subject_r {
  height: 100%;
  overflow: hidden;
}

.qualitycontrol .subject .subject_l {
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  margin-right: 6px;
}

.qualitycontrol .subject .subject_l /deep/.el-radio-group {
  margin-bottom: 6px;
}

.qualitycontrol .subject .subject_l .personneltable {
  width: 100%;
  height: calc(100% - 34px);
}

.qualitycontrol .subject .subject_r {
  border-radius: 6px;
  box-sizing: border-box;
}

.qualitycontrol .subject .subject_r .subject_r_t {
  padding: 10px;
  margin-bottom: 6px;
  background-color: #fff;
  border-radius: 6px;
  height: 29%;
}

.qualitycontrol .subject .subject_r .subject_r_t /deep/.el-form {
  margin-top: 10px;
}

.qualitycontrol .subject .subject_r .subject_r_b {
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  height: calc(100% - 29% - 6px);
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box {
  height: calc(100% - 40px);
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item {
  margin: 12px 0;
  width: 85%;
  display: flex;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item /deep/.el-row {
  width: 100%;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item /deep/.el-row .el-col {
  display: flex;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item .time_title {
  flex-shrink: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item .time_textarea {
  flex-shrink: 0;
  width: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 8px;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item /deep/.el-radio-group {
  display: flex;
}

.qualitycontrol .subject .subject_r .subject_r_b .subject_r_b_box .time_item /deep/.el-radio-group > label {
  display: flex;
  align-items: center;
}

.qualitycontrol .head_title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 10px;
}

.qualitycontrol .head_logo {
  width: 7px;
  height: 18px;
  background-color: #2a85ea;
  border-radius: 3.5px;
  margin-right: 5px;
}

.qualitycontrol .head_title p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
