// 主体
.main{
    display: flex;
    margin: 10px;
    border: 1px solid #cccccc;
    // 左侧菜单
    .main_left{
        width: 210px;
        height: calc(100vh - 100px);
        border-right: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        // 左侧菜单头部
        .main_left_head{
            width: 210px;
            height: 50px;
            background-color: #f5f5f5;
            border-right: 1px solid #cccccc;
        }
        // 左侧菜单
        .main_left_menu{
            flex: 1;
            background-color: #fff;
            .el-menu{
                border: none;
            }
        }
    }
    // 右侧内容
    .main_right{
        flex: 1;
        height: calc(100vh - 100px);
        // 左侧菜单头部
        .main_right_head{
            display: flex;
            justify-content: flex-end;
            height: 50px;
            background-color: #f5f5f5;
            /deep/.sticky{
                background-color: #f5f5f5;
            }
        }
        // 右侧内容
        .main_right_menu{
            height: calc(100vh - 150px);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            min-width: 570px;
            // .mask{
            //     width: 100%;
            //     height: calc(100vh - 150px);
            //     // background-color: rgba(0, 0, 0, 0);
            //     background-color: darkcyan;
            //     z-index: 999;
            //     cursor: not-allowed;
            //     position: absolute;
            // }
            .rich_text{
                flex: 1;
                .quill-editor{
                    margin: 5px;
                    height: calc(100vh - 202px);
                }
            }
        }
    }
}
.el-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}