.appointment {
    // 主体内容数据
    .subject {
        background-color: #efefef;
        padding: 10px;
        .bg_white {
            background-color: #fff;
            height: calc(100vh - 140px);
            // 检索条件盒子
            .search_box {
                padding-right: 10px;
                height: 100%;
                /deep/.el-card__body {
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                }
                .el-card {
                    height: 100%;
                }
                .condition,
                .calendar {
                    .head {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        font-weight: 600;
                        background-color: #f6f7fc;
                        margin: -10px -10px 10px -10px;
                        height: 38px;
                        padding-left: 12px;
                        .logo {
                            width: 7px;
                            height: 20px;
                            background-color: #5c7ceb;
                            border-radius: 3.5px;
                            margin-right: 5px;
                        }
                    }
                }
                // 检索条件
                .condition {
                    height: 53%;
                    .mt {
                        margin-top: 12px;
                    }
                    .tj {
                        /deep/.el-form-item__label {
                            font-size: 20px;
                            font-weight: 600;
                            color: red;
                        }
                        /deep/.el-form-item__content {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                    .condition_form {
                        /deep/.el-form-item {
                            margin-bottom: 12px;
                        }
                        /deep/.el-button {
                            width: 80px !important;
                        }
                        /deep/.el-select {
                            width: 100%;
                        }
                        width: 80%;
                        .checkno {
                            display: flex;
                            .el-input {
                                margin-left: 10px;
                            }
                        }
                        .persontype,
                        .status {
                            display: flex;
                            justify-content: space-between;
                        }
                        .date {
                            display: flex;
                            /deep/.el-button {
                                margin-right: 10px;
                            }
                        }
                        .btn_submit {
                            padding-top: 10px;
                            text-align: center;
                        }
                    }
                }
                // 预约日历
                .calendar {
                    height: 47%;
                }
            }
            // 表格数据盒子
            .data_box {
                padding: 10px;
                height: 100%;
                .table_appointment {
                    height: calc(100% - 45px);
                }
                /deep/.el-pagination {
                    text-align: center;
                    margin-top: 5px;
                }
            }
        }
    }
}