    // 内容区
    .centent {
        .card {
            margin: 5px 0 5px 0;
            background-color: #fff;
            border-radius: 5px;
            min-height: 80px;
            .c_content {
                padding: 5px;
                height: calc(100% - 38px);
                display: flex;
                align-items: center;
                width: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .content_item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    .el-checkbox {
                        line-height: 20px;
                        margin: 0 10px 0 10px;
                    }
                    .el-input {
                        width: 100px;
                        margin-left: 10px;
                    }
                }
                .content_items {
                    .el-checkbox {
                        width: 150px !important;
                    }
                }
                .content_input {
                    width: 220px;
                    .el-checkbox {
                        width: 100% !important;
                        margin: 0;
                        .el-input {
                            width: 150px;
                        }
                    }
                }
            }
            // 其他信息
            .life_habit {
                padding-left: 20px;
                height: calc(100vh - 198px);
                overflow-y: auto;
                .Questionnaire {
                    padding-bottom: 20px;
                    border-bottom: 1px solid #cccccc;
                    .life_habit_title {
                        line-height: 50px;
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        .el-radio-group {
                            margin-left: 20px;
                        }
                    }
                    .life_habit_content {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 100%;
                        .basic_information {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-right: 20px;
                            min-width: 60%;
                            .two_topic {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                .two_options {
                                    margin-right: 10px;
                                }
                            }
                            .three_topic {
                                display: flex;
                                flex-wrap: wrap;
                                padding-left: 20px;
                                margin: 8px 0;
                                width: 100%;
                                .three_title {
                                    display: flex;
                                    line-height: 30px;
                                }
                                .three_content {
                                    display: flex;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    .three_options {
                                        display: flex;
                                        align-items: center;
                                        padding-left: 20px;
                                        .el-input {
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        span {
                            line-height: 40px;
                            margin-right: 10px;
                            white-space: nowrap;
                            .el-input {
                                width: 75px;
                            }
                            .el-radio-group {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        // 身体症状
        .body_symptom {
            height: calc(100vh - 435px);
            margin-top: 10px;
            background-color: #fff;
            border-radius: 5px;
            .body_content {
                height: calc(100vh - 480px);
                overflow: auto;
                .body_menu {
                    display: flex;
                    align-items: center;
                    .body_title {
                        width: 120px;
                        height: 50px;
                        border-radius: 10px;
                        background-color: #f6f7fc;
                        display: flex;
                        white-space: nowrap;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 20px;
                    }
                    .body_item {
                        flex: 1;
                        padding: 10px 0;
                        border-bottom: 1px solid #cccccc;
                        /deep/.el-checkbox-group {
                            width: auto;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            .el-checkbox {
                                line-height: 35px;
                                margin: 0 25px 0 25px;
                                .el-select {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    // 头部标签
    .title_head {
        padding-left: 10px;
        height: 30px;
        border-radius: 5px 5px 0 0;
        background-color: #f6f7fc;
        display: flex;
        align-items: center;
        .logo {
            width: 7px;
            height: 16px;
            background-color: #5c7ceb;
            border-radius: 3.5px;
            margin-right: 5px;
        }
        span {
            font-size: 15px;
            font-weight: 600;
        }
    }