.full_search {
    .filter-container {
        display: flex;
        background-color: #f8f8f8;
        padding-right: 20px;
        height: 42px;
        align-items: center;
        justify-content: flex-end;
        >div {
            margin-left: 10px;
        }
    }
    .subject {
        .fontRed {
            color: red !important;
        }
        width: 100%;
        height: calc(100vh - 121px);
        box-sizing: border-box;
        padding: 10px;
        background-color: #EFEFEF;
        .bg_white {
            width: 100%;
            height: 100%;
            display: flex;
            /deep/.el-col {
                height: 100%;
                background: #FFFFFF;
                border-radius: 6px;
            }
            .form_box {
                margin-right: 15px;
                // min-width: 280px;
                min-width: 100px;
                padding: 12px;
                box-sizing: border-box;
                overflow-y: auto;
                .head {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    background-color: #f6f7fc;
                    margin: -12px -12px 12px -12px;
                    padding-left: 12px;
                    border-radius: 5px 5px 0 0;
                    line-height: 38px;
                    .logo {
                        width: 7px;
                        height: 20px;
                        background-color: #5c7ceb;
                        border-radius: 3.5px;
                        margin-right: 5px;
                    }
                }
                .checkup_code {
                    margin-bottom: 12px;
                    /deep/.el-form-item__content {
                        margin: 0 !important;
                        display: flex;
                    }
                    /deep/.el-input {
                        width: 300px;
                        margin-left: 22px;
                    }
                }
                .checkup_date {
                    margin-bottom: 12px;
                    /deep/.el-form-item__content {
                        margin: 0 !important;
                        display: flex;
                        .el-date-editor {
                            width: 300px !important;
                            margin-left: 22px;
                        }
                    }
                }
                .btn_group /deep/.el-button:first-child {
                    margin-left: 0;
                }
                .btn_group {
                    margin-bottom: 12px;
                    /deep/.el-form-item__content {
                        display: flex;
                        font-weight: normal;
                    }
                    /deep/.el-button {
                        width: 80px;
                        margin-left: 22px;
                    }
                }
                .select {
                    margin-bottom: 12px;
                    /deep/.el-form-item__content {
                        display: flex;
                        .form_label {
                            width: 80px !important;
                            text-align: right;
                        }
                        .el-select {
                            width: 300px;
                            margin-left: 22px;
                        }
                    }
                }
                .input {
                    margin-bottom: 12px;
                    /deep/.el-form-item__content {
                        display: flex;
                        .form_label {
                            width: 80px !important;
                            text-align: right;
                        }
                        .el-input {
                            width: 300px;
                            margin-left: 22px;
                        }
                    }
                    /deep/.el-form-item__content {
                        margin: 0 !important;
                        display: flex;
                        .el-date-editor {
                            width: 300px !important;
                            margin-left: 22px;
                        }
                    }
                    .idcard_btn {
                        width: calc(100% - 102px);
                        display: flex;
                        margin-left: 22px;
                        .el-input {
                            margin: 0;
                        }
                        .el-button {
                            margin-left: 4px;
                        }
                    }
                }
            }
            .form_box::-webkit-scrollbar {
                width: 6px;
            }
            .form_box::-webkit-scrollbar-track {
                background-color: transparent;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }
            .form_box::-webkit-scrollbar-thumb {
                background-color: #dddee0;
                -webkit-border-radius: 2em;
                -moz-border-radius: 2em;
                border-radius: 2em;
            }
            .table_box {
                margin-top: 0 !important;
                padding: 12px;
                box-sizing: border-box;
                .head {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    background-color: #f6f7fc;
                    margin: -12px -12px 12px -12px;
                    padding-left: 12px;
                    border-radius: 5px 5px 0 0;
                    line-height: 38px;
                    .logo {
                        width: 7px;
                        height: 20px;
                        background-color: #5c7ceb;
                        border-radius: 3.5px;
                        margin-right: 5px;
                    }
                }
                .page_table {
                    height: calc(100% - 70px);
                }
                /deep/.el-pagination {
                    text-align: center;
                }
            }
            .drop_down {
                width: 150px;
                height: 150px;
                background-color: #fff;
            }
        }
    }
    .selectPrint_dia {
        /deep/.el-dialog__header,
        /deep/.el-dialog__body,
        /deep/.el-dialog__footer {
            padding: 10px;
        }
        /deep/.el-dialog__body {
            .input_box {
                justify-content: center;
                display: flex;
                align-items: center;
                .el-input {
                    width: 100px;
                }
            }
        }
    }
    .exportcontrol_dia {
        /deep/.el-dialog__header,
        /deep/.el-dialog__body,
        /deep/.el-dialog__footer {
            padding: 10px;
        }
        /deep/.el-dialog__footer {
            text-align: center;
        }
        /deep/.el-dialog__body {
            .eccontent {
                height: 350px;
                .el-checkbox-group {
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .el-checkbox {
                        width: 14%;
                        height: 22px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .print_box {
        .print_btn {
            height: 29px !important;
            margin-left: 10px !important;
        }
    }
    .preview_box {
        /deep/.el-dialog {
            margin: 30px auto 0 !important;
            .el-dialog__header {
                padding: 15px 15px 0 15px;
            }
            .el-dialog__body {
                padding: 15px;
            }
        }
    }
}

.el-popover {
    .print_item {
        margin-bottom: 3px;
        padding: 5px 10px;
        cursor: pointer;
    }
    .print_item:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
    }
}

// .el-popover {
//     .content {
//         .content_item {
//             height: 20px;
//             margin-bottom: 3px;
//             padding: 0 10px;
//             cursor: pointer;
//         }
//         .content_item:hover {
//             color: #66b1ff;
//             background-color: #ecf5ff;
//         }
//     }
// }
.el-popover {
    .content {
        .content_item {
            height: 20px;
            margin-bottom: 3px;
            padding: 0 10px;
            cursor: pointer;
        }
        .content_item:hover {
            color: #66b1ff;
            background-color: #ecf5ff;
        }
    }
    .print_item {
        margin-bottom: 3px;
        padding: 5px 10px;
        cursor: pointer;
    }
    .print_item:hover {
        background-color: #ecf5ff;
        color: #66b1ff;
    }
}