.client_review {
    padding: 10px;
    background-color: #efefef;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    .title {
        font-size: 20px;
        font-weight: 600;
        color: #343434;
        display: flex;
        align-items: center;
        background-color: #f6f7fc;
        margin: -10px -10px 0 -10px;
        line-height: 38px;
        padding-left: 12px;
        border-radius: 5px 5px 0 0;
    }
    .title::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 20px;
        background: #559FEB;
        border-radius: 4px;
        margin-right: 8px;
    }
    .head_box {
        height: 115px;
        background: #FFFFFF;
        border-radius: 6px;
        padding: 14px 20px;
        box-sizing: border-box;
        .title_box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f6f7fc;
            margin: -20px -20px 20px -20px;
            padding-left: 12px;
            border-radius: 5px 5px 0 0;
            /deep/.btn_group {
                .sticky {
                    background-color: #f6f7fc !important;
                    border-radius: 0 5px 0 0;
                }
            }
        }
        .search_form {
            margin-top: 22px;
            display: flex;
            /deep/.el-form-item {
                margin-bottom: 0;
            }
            .regday {
                /deep/.el-form-item__content {
                    display: flex;
                }
            }
        }
    }
    // 主体内容
    .subject {
        margin-top: 10px;
        height: calc(100% - 125px);
        display: flex;
        // 左侧主体表格
        .s_left {
            background: #FFFFFF;
            border-radius: 6px;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding: 10px;
            /deep/.el-radio-group {
                margin: 0 0 12px 0;
            }
            .staff_table {
                height: calc(100% - 40px);
            }
        }
        .track_dialog {
            /deep/.el-dialog__header {
                padding: 10px;
            }
            /deep/.el-dialog__body {
                padding: 0 10px 10px 10px;
                // 右侧主体操作
                .s_right {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .r_top {
                        height: 115px;
                        background: #FFFFFF;
                        border-radius: 6px;
                        padding: 10px;
                        .info_form {
                            margin-top: 15px;
                            display: flex;
                            flex-wrap: wrap;
                            .el-form-item {
                                width: 25%;
                                margin-bottom: 8px;
                            }
                        }
                    }
                    .r_body {
                        margin-top: 10px;
                        padding: 10px;
                        flex: 1;
                        background: #FFFFFF;
                        border-radius: 6px;
                        display: flex;
                        .table_box {
                            width: 45%;
                            // height: 100%;
                            display: flex;
                            flex-direction: column;
                            .illness_table {
                                margin-top: 13px;
                                flex: 1;
                            }
                            .table_title {
                                margin: 12px 0;
                                font-size: 16px;
                                font-weight: 550;
                                color: #343434;
                            }
                            .review_content {
                                height: 110px;
                                .el-textarea__inner {
                                    height: 100%;
                                }
                            }
                        }
                        .form_box {
                            margin-left: 10px;
                            width: 53%;
                            height: 100%;
                            .from_head {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .text {
                                    font-size: 16px;
                                    font-weight: 550;
                                    color: #343434;
                                }
                            }
                            .review_record {
                                margin-top: 14px;
                                height: 250px;
                                /deep/.el-textarea__inner {
                                    height: 100%;
                                }
                            }
                            .review_form {
                                margin-top: 14px;
                                display: flex;
                                flex-wrap: wrap;
                                /deep/.el-form-item {
                                    width: 50%;
                                }
                            }
                            .page_btn {
                                margin-top: 14px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}