@charset "UTF-8";
.total_check .filter-container {
  display: flex;
  background-color: #f8f8f8;
  padding-right: 20px;
  height: 42px;
  align-items: center;
  justify-content: flex-end;
}

.total_check .filter-container > div {
  margin-left: 10px;
}

.total_check /deep/.is-current > .el-tree-node__content {
  background-color: #aeceff !important;
}

.total_check .check_b /deep/.el-scrollbar__wrap {
  width: 100% !important;
}

.total_check .subject {
  width: 100%;
  height: calc(100vh - 121px);
  box-sizing: border-box;
  padding: 10px;
  background-color: #EFEFEF;
}

.total_check .subject /deep/.el-scrollbar .el-scrollbar__wrap::-webkit-scrollbar {
  display: none;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}

.total_check .subject /deep/.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}

.total_check .subject /deep/.el-scrollbar .el-scrollbar__view {
  height: 100% !important;
}

.total_check .subject .search_box,
.total_check .subject .body_box {
  background: #FFFFFF;
  border-radius: 6px;
}

.total_check .subject .content_box {
  display: flex;
  height: calc(100% - 113px);
}

.total_check .subject .content_box /deep/.el-col {
  height: 100%;
}

.total_check .subject .content_box .personnel_box {
  background-color: #fff;
  border-radius: 5px;
  margin-right: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.total_check .subject .content_box .personnel_box .title {
  height: 25px;
  display: flex;
}

.total_check .subject .content_box .personnel_box .title .text {
  margin-right: 10px;
}

.total_check .subject .content_box .personnel_box .mtb {
  margin: 8px 0;
}

.total_check .subject .content_box .personnel_box .pers_table_box {
  height: 38%;
}

.total_check .subject .content_box .personnel_box .pers_table_box .pers_table {
  height: calc(100% - 25px);
}

.total_check .subject .content_box .personnel_box .comb_table_box {
  height: calc(62% - 16px);
}

.total_check .subject .content_box .personnel_box .comb_table_box .comb_table {
  height: calc(100% - 25px);
}

.total_check .subject .search_box {
  height: 96px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.total_check .subject .search_box .s_title {
  display: flex;
  align-items: center;
  margin: -10px -10px 0 -10px;
  padding-left: 12px;
  border-radius: 5px 5px 0 0;
}

.total_check .subject .search_box .s_title .line {
  width: 8px;
  height: 20px;
  background: #559FEB;
  border-radius: 4px;
  margin-right: 10px;
}

.total_check .subject .search_box .s_title .text {
  font-size: 20px;
  line-height: 38px;
  font-weight: 600;
  color: #343434;
}

.total_check .subject .search_box .search_body {
  flex: 1;
  display: flex;
  margin-bottom: 8px;
}

.total_check .subject .search_box .search_body /deep/.el-col {
  height: 100%;
}

.total_check .subject .search_box .search_body .code_box {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 8px;
  height: 100%;
  box-sizing: border-box;
}

.total_check .subject .search_box .search_body .code_box .btn_group {
  display: flex;
  margin: 17px 0 10px 0;
  justify-content: space-between;
}

.total_check .subject .search_box .search_body .code_box .btn_group .total_btn {
  padding: 0 15px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total_check .subject .search_box .search_body .code_box .btn_group .total_btn .icon-jiandu {
  margin-right: 5px;
}

.total_check .subject .search_box .search_body .form_box {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: calc(80% - 10px);
  height: 100%;
}

.total_check .subject .search_box .search_body .form_box /deep/.el-form {
  width: 90%;
}

.total_check .subject .search_box .search_body .form_box /deep/.el-form-item {
  margin-bottom: 3px;
}

.total_check .subject .search_box .search_body .form_box .img_box {
  padding: 5px;
  box-sizing: border-box;
}

.total_check .subject .search_box .search_body .form_box .img_box .photo_box {
  width: 100px;
}

.total_check .subject .search_box .search_body .form_box .img_box .photo_box .avatar {
  width: 90px;
  height: 90px;
  border: 1px solid #ebeef5;
}

.total_check .subject .search_box .search_body .form_box .img_box .photo_box .text {
  font-weight: 600;
  text-align: center;
}

.total_check .subject .search_box .search_body .form_box .img_box .photo_box .detailed_dialog /deep/.el-dialog__body {
  height: 500px;
  overflow: auto;
  text-align: center;
}

.total_check .subject .body_box {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.total_check .subject .body_box .check_body {
  height: calc(100% - 30px);
  display: flex;
  padding-bottom: 10px;
}

.total_check .subject .body_box .check_body .check_left {
  width: 53%;
}

.total_check .subject .body_box .check_body .check_right {
  width: 47%;
}

.total_check .subject .body_box .check_body .check_left,
.total_check .subject .body_box .check_body .check_right {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 0;
}

.total_check .subject .body_box .check_body .check_left .handle_box,
.total_check .subject .body_box .check_body .check_right .handle_box {
  display: flex;
  justify-content: space-between;
}

.total_check .subject .body_box .check_body .check_left .handle_box .handle_title,
.total_check .subject .body_box .check_body .check_right .handle_box .handle_title {
  font-size: 18px;
  font-weight: 600;
  color: #343434;
}

.total_check .subject .body_box .check_body .check_left .handle_box .handle_btn,
.total_check .subject .body_box .check_body .check_right .handle_box .handle_btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #2A87E6;
  margin-right: 10%;
}

.total_check .subject .body_box .check_body .check_left .handle_box /deep/.el-tabs__item,
.total_check .subject .body_box .check_body .check_right .handle_box /deep/.el-tabs__item {
  padding: 0 10px !important;
}

.total_check .subject .body_box .check_body .check_left .check_b,
.total_check .subject .body_box .check_body .check_right .check_b {
  height: calc(100% - 35px);
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #dcdfe6;
  padding: 5px;
  /*被拖拽对象的样式*/
  /*选中样式*/
}

.total_check .subject .body_box .check_body .check_left .check_b .dom2,
.total_check .subject .body_box .check_body .check_left .check_b .dom3,
.total_check .subject .body_box .check_body .check_left .check_b .dom4,
.total_check .subject .body_box .check_body .check_left .check_b .dom5,
.total_check .subject .body_box .check_body .check_right .check_b .dom2,
.total_check .subject .body_box .check_body .check_right .check_b .dom3,
.total_check .subject .body_box .check_body .check_right .check_b .dom4,
.total_check .subject .body_box .check_body .check_right .check_b .dom5 {
  width: 97.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.total_check .subject .body_box .check_body .check_left .check_b .check_b_title,
.total_check .subject .body_box .check_body .check_right .check_b .check_b_title {
  padding: 2px 6px;
}

.total_check .subject .body_box .check_body .check_left .check_b .chosen,
.total_check .subject .body_box .check_body .check_right .check_b .chosen {
  border: solid 1px #3089dc !important;
}

.total_check .subject .body_box .check_body .check_left .check_b .item_drag,
.total_check .subject .body_box .check_body .check_right .check_b .item_drag {
  padding: 6px;
  background-color: #fdfdfd;
  border: solid 1px #eee;
  margin-bottom: 10px;
  cursor: move;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #dcdfe6;
  position: relative;
  margin: 0 0 5px 0;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item /deep/.el-checkbox__input,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item /deep/.el-checkbox__input {
  position: absolute;
  right: 13px;
  top: 9px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item /deep/.el-checkbox__label,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item /deep/.el-checkbox__label {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_top,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_top {
  padding: 3px;
  font-size: 14px;
  color: #606266;
  display: flex;
  background-color: #e6f1fa;
  width: 100%;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_top .concl_text,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_top .concl_text {
  margin-left: 10px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_top .text,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_top .text {
  width: 54%;
  font-weight: 600;
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .dom1_item_top .text,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .dom1_item_top .text {
  width: 90%;
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .line,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .line {
  height: 1px;
  background-color: #dcdfe6;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body {
  padding: 7px;
  font-size: 14px;
  display: flex;
  overflow: hidden;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .conclusion,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .conclusion {
  width: 54%;
  border-right: 1px solid #dcdfe6;
  display: flex;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner {
  border: 0 none;
  padding: 0;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar {
  width: 8px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-track,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-thumb,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .conclusion .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-thumb {
  background-color: #dddee0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words_mask,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words {
  width: 40%;
  overflow-y: auto;
  border-right: 1px solid #dcdfe6;
  padding-left: 10px;
  position: relative;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner {
  border: 0 none;
  padding: 0;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar {
  width: 8px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-track,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-thumb,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .words .conc_text /deep/.el-textarea__inner::-webkit-scrollbar-thumb {
  background-color: #dddee0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .btn_group,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .btn_group {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}

.total_check .subject .body_box .check_body .check_left .check_b .dom1 .dom1_item .item_body .mt,
.total_check .subject .body_box .check_body .check_right .check_b .dom1 .dom1_item .item_body .mt {
  margin-top: 15px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom2 .contrast_table,
.total_check .subject .body_box .check_body .check_right .check_b .dom2 .contrast_table {
  height: calc(100% - 265px);
}

.total_check .subject .body_box .check_body .check_left .check_b .dom2 .contrast_text,
.total_check .subject .body_box .check_body .check_right .check_b .dom2 .contrast_text {
  margin-top: 15px;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom2 /deep/.el-textarea.is-disabled .el-textarea__inner,
.total_check .subject .body_box .check_body .check_right .check_b .dom2 /deep/.el-textarea.is-disabled .el-textarea__inner {
  background-color: #fff !important;
  color: #000 !important;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom3 .depart_table,
.total_check .subject .body_box .check_body .check_right .check_b .dom3 .depart_table {
  height: 100%;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom4 .totalCheck_table,
.total_check .subject .body_box .check_body .check_right .check_b .dom4 .totalCheck_table {
  height: 100%;
}

.total_check .subject .body_box .check_body .check_left .check_b .dom5 .archives_table,
.total_check .subject .body_box .check_body .check_right .check_b .dom5 .archives_table {
  height: 100%;
}

.total_check .subject .body_box .check_body .check_left .occupation_head {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.total_check .subject .body_box .check_body .check_left .occupation {
  border-radius: 6px;
  border: 1px solid #dcdfe6;
  padding: 8px;
  height: 150px;
}

.total_check .subject .body_box .check_body .check_left .occupation .check_group {
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.total_check .subject .body_box .check_body .check_left .occupation .check_group /deep/.el-radio-group {
  width: 80%;
}

.total_check .subject .body_box .check_body .check_left .occupation .check_group /deep/.el-radio-group .el-radio {
  margin: 5px 0;
  width: 32%;
}

.total_check .subject .body_box .check_body .check_left .occupation .check_group /deep/.el-checkbox {
  width: 18%;
}

.total_check .subject .body_box .check_body .check_right {
  margin-top: -11px;
}

.total_check .subject .body_box .check_body .check_right .check_b {
  height: calc(100% - 35px);
}

.total_check .subject .body_box .check_body .check_right /deep/.el-tabs__header {
  margin-bottom: 0;
}

.total_check .subject .body_box .check_body .check_right /deep/.el-tabs__content {
  display: none;
}

.total_check .subject .body_box .check_body .check_right .none {
  visibility: hidden;
}

.total_check .subject .body_box .check_body .check_right .handle_box {
  display: flex;
}

.total_check .subject .body_box .check_body .check_right .handle_btn_group {
  display: flex;
}

.total_check .subject .body_box .check_body .check_right .handle_btn_group .handle_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 7px;
}

.total_check .subject .body_box .check_body .check_right .handle_btn_group .handle_btn i {
  margin: 0;
}

.total_check .subject .body_box .check_body .check_right .handle_btn_group .handle_btn /deep/.el-link {
  margin-left: 3px;
}

.total_check .subject .body_box .check_body .check_right .handle_btn_group .handle_btn /deep/.el-link .el-link--inner {
  white-space: nowrap;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item /deep/.el-input__inner {
  border: 0 none;
  padding: 0;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item /deep/.el-textarea__inner {
  border: 0 none;
  padding: 0px 0;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item /deep/.el-input__inner {
  border: 0 none;
  padding: 0;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_top {
  padding: 2px 7px !important;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_top /deep/.el-textarea__inner {
  background-color: #e6f1fa;
  font-size: 16px;
  font-weight: 600;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_top /deep/.el-textarea__inner::-webkit-scrollbar {
  width: 8px;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_top /deep/.el-textarea__inner::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_top /deep/.el-textarea__inner::-webkit-scrollbar-thumb {
  background-color: #dddee0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_body {
  padding: 0 7px !important;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_body /deep/.el-textarea__inner {
  background-color: #fff;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_body /deep/.el-textarea__inner::-webkit-scrollbar {
  width: 8px;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_body /deep/.el-textarea__inner::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_right .dom1 .dom1_item .item_body /deep/.el-textarea__inner::-webkit-scrollbar-thumb {
  background-color: #dddee0;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.total_check .subject .body_box .check_body .check_right .dom2 .verdict_table {
  height: 55%;
}

.total_check .subject .body_box .check_body .check_right .dom2 .verdict_dt {
  margin-top: 15px;
  height: calc(45% - 15px);
}

.total_check .subject .body_box .check_body .check_right .dom3 .departDt_table {
  height: 90%;
}

.total_check .subject .body_box .check_body .check_right .dom3 .departDt_form {
  height: 10%;
  display: flex;
  align-items: center;
}

.total_check .subject .body_box .check_body .check_right .dom3 .departDt_form /deep/.el-form-item {
  margin-bottom: 0;
}

.total_check .subject .body_box .check_body .check_right .dom4 .totalDt1_table {
  height: 55%;
}

.total_check .subject .body_box .check_body .check_right .dom4 .totalDt2_table {
  margin-top: 15px;
  height: calc(45% - 15px);
}

.total_check .subject .body_box .check_body .check_right .dom5 .archivesDt1_table {
  height: 55%;
}

.total_check .subject .body_box .check_body .check_right .dom5 .archivesDt2_table {
  margin-top: 15px;
  height: calc(45% - 15px);
}

.total_check .subject .body_box .check_body .check_right .ysjy,
.total_check .subject .body_box .check_body .check_right .ydjy,
.total_check .subject .body_box .check_body .check_right .jkzs {
  width: 97.5%;
  height: 100%;
}

.total_check .subject .body_box .check_body .check_right .ysjy /deep/.el-textarea__inner,
.total_check .subject .body_box .check_body .check_right .ydjy /deep/.el-textarea__inner,
.total_check .subject .body_box .check_body .check_right .jkzs /deep/.el-textarea__inner {
  height: 100%;
}

.total_check .subject .body_box .check_form {
  height: 30px;
}

.total_check .subject .body_box .check_form /deep/.el-form {
  display: flex;
}

.total_check .subject .body_box .check_form /deep/.el-form .el-form-item {
  margin-bottom: 0;
}

.total_check .total_dialog /deep/.el-dialog__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total_check .total_dialog /deep/.el-dialog__body .head_box {
  display: flex;
  align-items: center;
}

.total_check .total_dialog /deep/.el-dialog__body .head_box .time_box {
  display: flex;
  align-items: center;
  width: 330px;
}

.total_check .total_dialog /deep/.el-dialog__body .head_box .el-radio-group {
  margin-left: 20px;
}

.total_check .total_dialog /deep/.el-dialog__body .head_box .el-date-editor {
  margin-left: 10px;
  width: 240px !important;
}

.total_check .total_dialog /deep/.el-dialog__body .table_box {
  height: 430px;
  margin: 10px 0;
  width: 100%;
}

.total_check .total_dialog /deep/.el-dialog__body .table_box .wait_table,
.total_check .total_dialog /deep/.el-dialog__body .table_box .total_table {
  width: 100%;
  height: 100%;
}

.total_check .conc_dialog /deep/.el-scrollbar .el-scrollbar__wrap::-webkit-scrollbar {
  display: none;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}

.total_check .conc_dialog /deep/.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}

.total_check .conc_dialog /deep/.el-scrollbar .el-scrollbar__view {
  height: 100% !important;
}

.total_check .conc_dialog /deep/.el-dialog__header {
  display: none;
}

.total_check .conc_dialog /deep/.el-dialog__body {
  padding: 15px;
}

.total_check .conc_dialog /deep/.el-dialog__body .btn_group {
  text-align: right;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body {
  height: 550px;
  margin-top: 15px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_left {
  height: 100%;
  padding-right: 10px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_left .conc_tree {
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  margin-top: 15px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_left .conc_tree .onclusion_tree {
  width: 97.5%;
  height: 100%;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_left .conc_tree .onclusion_tree .el-icon-folder-opened {
  color: #fba755 !important;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right {
  height: 100%;
  padding-left: 10px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_search_box {
  display: flex;
  align-items: center;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_search_box .title {
  width: 50px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_search_box .el-input {
  width: 200px;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_table_box {
  margin-top: 15px;
  height: calc(55% - 43px);
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_table_box .current_table,
.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_table_box .personal_table {
  height: 100%;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_table_box .personal_table .el-input__inner {
  border: 0 none;
  background-color: transparent;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_text_box {
  margin-top: 5px;
  height: calc(45% - 5px);
  min-height: 40px !important;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_text_box .el-tabs__header {
  margin-bottom: 0;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_text_box .el-tabs__content {
  display: none;
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_text_box .conc_text {
  margin-top: 10px;
  height: calc(100% - 50px);
}

.total_check .conc_dialog /deep/.el-dialog__body .conc_body .conc_right .conc_text_box .conc_text .el-textarea__inner {
  height: 100%;
}

.total_check .track_dialog /deep/.el-dialog__header {
  padding: 10px 10px 0 10px;
}

.total_check .track_dialog /deep/.el-dialog__body {
  padding: 15px;
}

.total_check .track_dialog /deep/.el-dialog__body .track_table {
  height: 300px;
}

.total_check .track_dialog /deep/.el-dialog__body .head {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0;
}

.total_check .track_dialog /deep/.el-dialog__body .explain {
  height: 150px;
}

.total_check .track_dialog /deep/.el-dialog__body .explain .el-textarea__inner {
  height: 100%;
}

.total_check .track_dialog /deep/.el-dialog__body .btn_group {
  margin-top: 12px;
  text-align: center;
}

.total_check .track_dialog /deep/.el-dialog__body .btn_group /deep/.el-button {
  margin-left: 10px;
}

.total_check .comb_dialog /deep/.el-dialog__header,
.total_check .comb_dialog /deep/.el-dialog__body,
.total_check .comb_dialog /deep/.el-dialog__footer {
  padding: 10px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content {
  display: flex;
  flex-direction: column;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart {
  height: 260px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .table_100 {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .el-empty {
  height: 50px;
  padding: 0;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .el-empty .el-empty__image {
  width: 50px;
  height: 50px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .table_dom1 {
  width: 100%;
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_item,
.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_input {
  margin: 4px 0 0 8px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_item .el-input,
.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_input .el-input {
  width: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_item {
  width: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .box_input {
  width: 48%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_item {
  width: 100%;
  display: flex;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_item .title {
  width: 100px;
  text-align: right;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_item .el-checkbox-group {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_item .el-checkbox {
  width: 27%;
  margin-left: 0;
  display: flex;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_item .el-checkbox__label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_input .title {
  min-width: 100px;
  max-width: 150px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_input .input_box {
  display: flex;
  align-items: center;
  width: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom1 .project_input .input_box /deep/.el-input {
  flex: 1;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom2 .text_lower .el-input__inner {
  color: #0000ff !important;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom2 .text_upper .el-input__inner {
  color: red !important;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom2,
.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .project_dom3_table {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .el-table__body {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .el-table__body .cell {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .el-table__body .cell > div {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .el-table__body .cell .conc_text {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .chooseDepart .project_dom3 .el-table__body .cell .conc_text .el-textarea__inner {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content {
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .nowrap /deep/.el-link--inner {
  white-space: nowrap;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary_btn {
  display: flex;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .el-button-group {
  height: 28px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn {
  margin-bottom: 8px;
  flex: 2;
  display: flex;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn .el-button-group {
  margin-right: 10px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn .el-radio-group {
  height: 28px;
  margin: 0 10px 0 0;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn .el-radio-group .el-radio-button {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn .el-radio-group .el-radio-button .el-radio-button__inner {
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .fruit_btn .el-link {
  margin: 0 10px 0 0;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .entry_btn {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .entry_btn .el-button {
  height: 28px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .entry_btn .el-button {
  height: 28px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 38px);
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .el-image {
  width: 98px !important;
  height: 98px !important;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .tinymce_box {
  position: relative;
  flex: 3;
  background-color: #fff;
  position: relative;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .tinymce_box .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 999;
  cursor: not-allowed;
  top: 0;
  left: 0;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .summary_entry {
  width: 200px;
  margin-left: 10px;
  display: flex;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .summary_entry .entry_btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 8px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .summary_entry .entry_btn .el-button {
  margin-right: 5px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .summary_entry .entry_table {
  width: 100%;
  height: 100%;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall {
  width: 100%;
  overflow-y: auto;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall .el-upload-list__item {
  width: 100px;
  height: 100px;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall .el-upload-list__item > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall .el-upload-list__item > div .removeimg {
  width: 100%;
  height: 34%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall .el-upload {
  width: 100px;
  height: 100px;
  position: relative;
}

.total_check .comb_dialog /deep/.el-dialog__body .comb_d_content .summary_content .summary-box .photo_wall .el-upload .el-icon-plus {
  position: absolute;
  top: 35%;
  left: 35%;
}

.total_check .comb_dialog /deep/.el-dialog__footer {
  text-align: center;
}

.total_check .illitems_dialog /deep/.el-dialog__header {
  padding: 10px 10px 0 10px;
}

.total_check .illitems_dialog /deep/.el-dialog__body {
  padding: 15px;
}

.total_check .illitems_dialog /deep/.el-dialog__body .head {
  width: 100%;
  background-color: #ec808d;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total_check .illitems_dialog /deep/.el-dialog__body .btn_group {
  text-align: center;
  margin-top: 15px;
}

.total_check .word_dia /deep/.el-dialog__header,
.total_check .word_dia /deep/.el-dialog__body,
.total_check .word_dia /deep/.el-dialog__footer {
  padding: 10px;
}

.total_check .word_dia /deep/.el-dialog__body .word_dia_box .title {
  font-size: 22px;
  font-weight: 600;
}

.total_check .word_dia /deep/.el-dialog__body .word_dia_box .el-textarea {
  margin: 10px 0;
}

.total_check .word_dia /deep/.el-dialog__body .word_dia_box .tips {
  font-size: 22px;
  font-weight: 600;
  color: red;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  padding: 10px 5px;
}

.total_check .word_dia /deep/.el-dialog__footer {
  text-align: center;
}

.total_check .summaryDia /deep/.el-dialog__header,
.total_check .summaryDia /deep/.el-dialog__body,
.total_check .summaryDia /deep/.el-dialog__footer {
  padding: 10px;
}

.total_check .summaryDia /deep/.el-dialog__footer {
  text-align: center;
}

.total_check .summaryDia /deep/.el-dialog__body .handle_btn_group {
  display: flex;
}

.total_check .summaryDia /deep/.el-dialog__body .handle_btn_group .handle_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 7px;
}

.total_check .summaryDia /deep/.el-dialog__body .handle_btn_group .handle_btn i {
  margin: 0;
}

.total_check .summaryDia /deep/.el-dialog__body .handle_btn_group .handle_btn /deep/.el-link {
  margin-left: 3px;
}

.total_check .summaryDia /deep/.el-dialog__body .handle_btn_group .handle_btn /deep/.el-link .el-link--inner {
  white-space: nowrap;
}

.el-popover .print_item {
  margin-bottom: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.el-popover .print_item:hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}

.el-popover .content .content_item {
  height: 20px;
  margin-bottom: 3px;
  padding: 0 10px;
  cursor: pointer;
}

.el-popover .content .content_item:hover {
  color: #66b1ff;
  background-color: #ecf5ff;
}
