.dicillness {
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .subject {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 6px;
        overflow: hidden;
        .el-table__body tr.current-row>td {
            background-color: #5586d1 !important;
            color: #fff;
        }
        .search_box {
            display: flex;
            height: 40px;
            width: 100%;
            background-color: #f6f7fc;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            .search_box_btn {
                display: flex;
                .sbtn {
                    margin: 0 10px;
                }
            }
            .el-input {
                width: 250px;
            }
        }
        .bodymain {
            width: 100%;
            height: calc(100% - 40px);
            box-sizing: border-box;
            padding: 5px;
            display: flex;
            .main_l {
                width: 330px;
                height: 100%;
                border-right: 3px solid #efefef;
                .btn_l_group {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                }
                .tree_box {
                    box-sizing: border-box;
                    height: calc(100% - 40px);
                    overflow-y: auto;
                }
            }
            .main_r {
                height: 100%;
                margin-left: 10px;
                width: calc(100% - 350px);
                .el-tabs {
                    height: 100%;
                    .suggest_box {
                        height: 500px;
                        .conc_text {
                            height: 100%;
                        }
                        .el-textarea__inner {
                            height: 100%;
                        }
                    }
                    .disease_table_box {
                        height: 500px;
                        .disease_table {
                            height: 100%;
                        }
                    }
                    .second_table_box {
                        height: 500px;
                        .second_table {
                            height: 100%;
                        }
                        .el-select {
                            width: 100%;
                        }
                        .el-input {
                            width: 100%;
                        }
                        .el-input__inner {
                            border: 0;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}