@charset "UTF-8";
.customer_result {
  overflow-x: hidden;
  height: 100vh;
  overflow: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /*vxe-table 自定义行高 */
  /*修改表头背景色*/
}

.customer_result .filter-container {
  height: 45px;
  background-color: #fff;
  margin: 5px 10px 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.customer_result .filter-container > div {
  margin: 0 4px;
}

.customer_result .filter-container .filter-container-in {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 43px;
}

.customer_result .filter-container .filter-container-in .filter-items {
  width: 100%;
  height: 30px;
  margin-left: 10px;
}

.customer_result /deep/.vxe-table .vxe-body--column.col--ellipsis {
  height: 36px;
}

.customer_result /deep/.vxe-table .vxe-body--column:not(.col--ellipsis),
.customer_result /deep/.vxe-table .vxe-footer--column:not(.col--ellipsis),
.customer_result /deep/.vxe-table .vxe-header--column:not(.col--ellipsis) {
  padding: 5px 0;
  height: 36px;
}

.customer_result /deep/.vxe-table--header-wrapper,
.customer_result .vxe-header--row,
.customer_result .vxe-table--header {
  background-color: #d0ddeb;
  padding: 0px 0;
}

.customer_result .pageReg {
  height: 100%;
}

.customer_result /deep/.is-current {
  background-color: #aeceff !important;
}

.customer_result /deep/.custom-theme .el-scrollbar__wrap {
  overflow-x: hidden;
}

.customer_result /deep/.el-table .discount_input {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  outline: none;
  background-color: #fff;
}

.customer_result /deep/.el-table .discount_input:focus {
  border: 1px solid #0076c8;
}

.customer_result .mask_big {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
  cursor: not-allowed;
}

.customer_result .mask_big_w {
  width: calc(100% - 34px);
}

.customer_result .filter-container {
  height: 50px;
  margin: 10px 10px 0 10px;
}

.customer_result .filter-container .filter-container-in {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.customer_result .filter-container .filter-container-in .filter-items {
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
  align-content: inherit;
}

.customer_result .messagebasic {
  height: 85px;
  margin: 10px;
  background-color: #efefef;
  display: flex;
}

.customer_result .messagebasic .content_l {
  width: 295px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.customer_result .messagebasic .content_l .head {
  display: flex;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.customer_result .messagebasic .content_l .head .head-l {
  width: 5px;
  height: 16px;
  background-color: #2b7cd8;
  border-radius: 2px;
  margin-right: 5px;
}

.customer_result .messagebasic .content_l .checkup_code {
  display: flex;
  align-items: center;
  height: 55%;
  padding: 10px;
}

.customer_result .messagebasic .content_r {
  flex: 2;
  display: flex;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  background-color: #fff;
}

.customer_result .messagebasic .content_r .content_r-in {
  padding: 0 10px 0px 10px;
}

.customer_result .messagebasic .content_r .content_r-in /deep/.custom-theme .el-form-item--mini.el-form-item {
  margin-bottom: 8px;
}

.customer_result .messagebasic .content_r .content_r-in /deep/.el-form-item {
  margin-bottom: 8px !important;
}

.customer_result .messagebasic .content_r .content_r-in .font16 /deep/.el-form-item__label {
  font-size: 16px;
  font-weight: 600;
}

.customer_result .messagebasic .content_r .content_r-in .personalFormName /deep/.el-input {
  font-size: 18px;
}

.customer_result .messagebasic .content_r .img_box {
  padding: 5px;
  box-sizing: border-box;
}

.customer_result .messagebasic .content_r .img_box .photo_box {
  width: 100px;
}

.customer_result .messagebasic .content_r .img_box .photo_box .avatar {
  width: 90px;
  height: 90px;
  border: 1px solid #ebeef5;
}

.customer_result .messagebasic .content_r .img_box .photo_box .text {
  font-weight: 600;
  text-align: center;
}

.customer_result .messagebasic .content_r .img_box .photo_box .detailed_dialog /deep/.el-dialog__body {
  height: 500px;
  overflow: auto;
  text-align: center;
}

.customer_result .subject {
  background-color: #efefef;
  padding: 0 10px 10px 10px;
  height: calc(100% - 240px);
  display: flex;
}

.customer_result .subject .subject_left {
  width: 295px;
  box-sizing: border-box;
  background-color: #efefef;
  border-radius: 5px;
}

.customer_result .subject .subject_left .department {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
}

.customer_result .subject .subject_left .department .rightstreeimg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin: 4px 4px 0 0;
}

.customer_result .subject .subject_left .department .is_red {
  color: #fb1818 !important;
}

.customer_result .subject .subject_left .department .is_blue {
  color: #2a85ea !important;
}

.customer_result .subject .subject_left .department .is_black {
  color: #000 !important;
}

.customer_result .subject .subject_left .department > div {
  height: 100%;
}

.customer_result .subject .subject_left .department /deep/.el-empty {
  height: 100%;
  padding: 0;
}

.customer_result .subject .subject_left .department /deep/.el-empty .el-empty__image {
  width: 50px;
  height: 50px;
}

.customer_result .subject .subject_left .department /deep/.el-scrollbar {
  border-radius: 5px;
  min-height: 155px;
}

.customer_result .subject .subject_left .department /deep/.el-tree {
  border-radius: 5px;
  height: 100%;
  background-color: #ebeef5;
}

.customer_result .subject .subject_left .department /deep/.el-tree .el-tree-node {
  background-color: #ebeef5;
}

.customer_result .subject .subject_left .department /deep/.el-tree .el-tree-node .el-tree-node__content .custom-tree-node .is_black {
  font-weight: bold;
}

.customer_result .subject .subject_left .personnel {
  background-color: #fff;
  margin-top: 10px;
  height: calc(100% - 313px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.customer_result .subject .subject_left .personnel .personnel_btn {
  height: 52px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.customer_result .subject .subject_left .personnel .personnel_Table {
  padding: 10px;
  height: calc(100% - 52px);
}

.customer_result .subject .subject_left .personnel .personnel_Table .personnel_con_table {
  height: 100%;
}

.customer_result .subject /deep/.el-table__fixed-right {
  height: 100% !important;
}

.customer_result .subject /deep/.el-table__body-wrapper {
  min-height: 80px;
}

.customer_result .subject /deep/.is-scrolling-none {
  min-height: 86px;
}

.customer_result .subject /deep/.el-table__body {
  min-height: 50px;
}

.customer_result .subject .subject_right {
  width: calc(100% - 295px);
  box-sizing: border-box;
  display: flex;
  background-color: #efefef;
}

.customer_result .subject .subject_right .message {
  display: flex;
}

.customer_result .subject .subject_right .message .message_box .info_body {
  display: flex;
}

.customer_result .subject .subject_right .message .message_box .info_body .form_box {
  margin-right: 10px;
  flex: 1;
}

.customer_result .subject .subject_right .message .message_box .info_body .form_box .age /deep/.el-form-item__content {
  display: flex;
}

.customer_result .subject .subject_right .message .message_box .info_body .form_box .age .age_num /deep/.el-input__inner {
  padding-right: 0;
}

.customer_result .subject .subject_right .message .message_box .info_body .group_inspection /deep/.el-select {
  width: 100%;
}

.customer_result .subject .subject_right .message .img_box {
  padding: 5px;
  box-sizing: border-box;
}

.customer_result .subject .subject_right .message .img_box .photo_box {
  width: 100px;
}

.customer_result .subject .subject_right .message .img_box .photo_box .avatar {
  width: 100px;
  height: 115px;
  border: 1px solid #ebeef5;
}

.customer_result .subject .subject_right .message .img_box .photo_box .text {
  font-weight: 600;
  text-align: center;
}

.customer_result .subject .subject_right .message .img_box .photo_box .detailed_dialog /deep/.el-dialog__body {
  height: 500px;
  overflow: auto;
  text-align: center;
}

.customer_result .subject .subject_right .message .img_box .photo_box /deep/.el-scrollbar__wrap {
  overflow-x: hidden;
}

.customer_result .subject .subject_right .inspect_result {
  width: calc(100% - 300px);
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.customer_result .subject .subject_right .inspect_result .head {
  display: flex;
  align-items: center;
  padding: 10px;
}

.customer_result .subject .subject_right .inspect_result .head .head-l {
  width: 5px;
  height: 16px;
  height: 18px;
  background-color: #2b7cd8;
  border-radius: 2px;
  margin-right: 5px;
}

.customer_result .subject .subject_right .inspect_result .project {
  overflow-x: auto;
  height: 60%;
  background-color: #fff;
  margin: 0 10px 10px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.customer_result .subject .subject_right .inspect_result .project .project_box {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box /deep/.el-empty {
  height: 100px;
  padding: 0;
}

.customer_result .subject .subject_right .inspect_result .project .project_box /deep/.el-empty .el-empty__image {
  width: 80px;
  height: 80px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart /deep/.el-input .el-input__inner {
  font-size: 14px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .table_100 {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart /deep/.el-empty {
  height: 50px;
  padding: 0;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart /deep/.el-empty .el-empty__image {
  width: 50px;
  height: 50px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .table_dom1 {
  width: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_item,
.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_input {
  margin: 4px 0 0 8px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_item /deep/.el-input,
.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_input /deep/.el-input {
  width: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_item {
  width: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .box_input {
  width: 48%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_item {
  width: 100%;
  display: flex;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_item .title {
  width: 100px;
  text-align: right;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_item /deep/.el-checkbox-group {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_item /deep/.el-checkbox {
  width: 27%;
  margin-left: 0;
  display: flex;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_item /deep/.el-checkbox__label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_input .title {
  min-width: 100px;
  max-width: 150px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_input .input_box {
  display: flex;
  align-items: center;
  width: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom1 .project_input .input_box /deep/.el-input {
  flex: 1;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom2 .text_lower /deep/ .el-input__inner {
  color: #0000ff !important;
  font-size: 30px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom2 .text_upper /deep/ .el-input__inner {
  color: red !important;
  font-size: 30px;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom2,
.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 .project_dom3_table {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 /deep/.el-table__body {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 /deep/.el-table__body .cell {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 /deep/.el-table__body .cell > div {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 /deep/.el-table__body .cell .conc_text {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .project .project_box .chooseDepart .project_dom3 /deep/.el-table__body .cell .conc_text .el-textarea__inner {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary {
  height: calc(100% - 59% - 20px);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 10px 0 10px;
  position: relative;
}

.customer_result .subject .subject_right .inspect_result .summary .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 999;
  cursor: not-allowed;
  top: 0;
  left: 0;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content {
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 68%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .nowrap /deep/.el-link--inner {
  white-space: nowrap;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary_btn {
  display: flex;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content /deep/.el-button-group {
  height: 28px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn {
  margin-bottom: 8px;
  flex: 2;
  display: flex;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn .el-button-group {
  margin-right: 10px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn /deep/.el-radio-group {
  height: 28px;
  margin: 0 10px 0 0;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn /deep/.el-radio-group .el-radio-button {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn /deep/.el-radio-group .el-radio-button .el-radio-button__inner {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .fruit_btn /deep/.el-link {
  margin: 0 10px 0 0;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .entry_btn {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .entry_btn /deep/.el-button {
  height: 28px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .entry_btn /deep/.el-button {
  height: 28px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box {
  display: flex;
  height: calc(100% - 38px);
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .tinymce_box {
  flex: 3;
  background-color: #fff;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .tinymce_box .conc_text {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .tinymce_box .conc_text /deep/.el-textarea__inner {
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .summary_entry {
  width: 200px;
  margin-left: 10px;
  display: flex;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .summary_entry .entry_btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 8px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .summary_entry .entry_btn /deep/.el-button {
  margin-right: 5px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .summary_entry .entry_table {
  width: 100%;
  height: 100%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall {
  width: 100%;
  overflow-y: auto;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall /deep/.el-upload-list__item {
  width: 100px;
  height: 100px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall /deep/.el-upload-list__item > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall /deep/.el-upload-list__item > div .removeimg {
  width: 100%;
  height: 34%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall /deep/.el-upload {
  width: 100px;
  height: 100px;
  position: relative;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_content .summary-box .photo_wall /deep/.el-upload .el-icon-plus {
  position: absolute;
  top: 35%;
  left: 35%;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_form {
  height: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_form /deep/.el-form-item {
  margin-bottom: 2px;
}

.customer_result .subject .subject_right .inspect_result .summary .summary_form /deep/.el-select {
  width: 100%;
}

.customer_result .subject .subject_right .common_result {
  position: relative;
  width: 300px;
  height: calc(100% - 5px);
  background-color: #fff;
  border-radius: 5px;
}

.customer_result .subject .subject_right .common_result /deep/.el-radio-group {
  width: 100%;
  display: flex;
  padding: 8px !important;
}

.customer_result .subject .subject_right .common_result /deep/.el-radio-group .el-radio-button {
  width: 25% !important;
}

.customer_result .subject .subject_right .common_result /deep/.el-radio-group .el-radio-button .el-radio-button__inner {
  width: 100%;
}

.customer_result .subject .subject_right .common_result .table_box {
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 0 10px 10px 10px;
}

.customer_result .subject .subject_right .common_result .table_box .common_table,
.customer_result .subject .subject_right .common_result .table_box .allInspect_table {
  height: 100%;
}

.customer_result .subject .subject_right .common_result .table_box .common_table .summary_text,
.customer_result .subject .subject_right .common_result .table_box .allInspect_table .summary_text {
  height: 130px;
}

.customer_result .subject .subject_right .common_result .table_box .common_table .summary_text /deep/.el-textarea__inner,
.customer_result .subject .subject_right .common_result .table_box .allInspect_table .summary_text /deep/.el-textarea__inner {
  height: 100%;
}

.customer_result .subject .subject_right .common_result .table_box .healthRecords_table {
  height: 35%;
}

.customer_result .subject .subject_right .common_result .table_box .healthDt_table {
  margin-top: 12px;
  height: 63%;
}

.customer_result .subject .subject_right .common_result .table_box .dbSpect_dialog /deep/.el-dialog__body {
  padding: 10px;
}

.customer_result .subject .subject_right .common_result .table_box .dbSpect_dialog /deep/.el-dialog__footer {
  padding: 0 10px 10px 10px;
}

.customer_result .subject .subject_right .common_result .table_box .history_box {
  margin-bottom: 5px;
}

.customer_result .subject .subject_right .common_result .table_box .history_box .history_head {
  display: flex;
  background-color: #facd91;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
}

.customer_result .subject .subject_right .common_result .table_box .history_box .history_head .history_time,
.customer_result .subject .subject_right .common_result .table_box .history_box .history_head .history_value {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customer_result .subject .subject_right .common_result .table_box .history_box .history_table {
  height: 300px;
}

.customer_result .subject .subject_right .inspect_box {
  height: calc(100vh - 295px);
}

.customer_result .subject .subject_right .inspect_box /deep/.el-row {
  height: 100%;
}

.customer_result .conclusion /deep/.el-dialog__body {
  padding: 0 15px;
}

.customer_result .conclusion /deep/.el-dialog__footer {
  padding: 20px;
}

.customer_result .conclusion .conclusion_content {
  height: 500px;
}

.customer_result .conclusion .conclusion_content .tree_box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.customer_result .conclusion .conclusion_content .tree_box .search_box {
  height: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.customer_result .conclusion .conclusion_content .tree_box .search_box .search_title {
  width: 50px;
}

.customer_result .conclusion .conclusion_content .tree_box .search_box /deep/.el-input {
  width: 200px;
}

.customer_result .conclusion .conclusion_content .tree_box /deep/.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}

.customer_result .conclusion .conclusion_content .tree_box /deep/.el-scrollbar .el-scrollbar__view {
  height: 100%;
}

.customer_result .conclusion .conclusion_content .tree_box /deep/.el-scrollbar {
  border-radius: 5px;
}

.customer_result .conclusion .conclusion_content .tree_box .onclusion_tree {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #dcdfe6;
}

.customer_result .conclusion .conclusion_content .tree_box .onclusion_tree /deep/.el-tree-node {
  background-color: #ebeef5;
}

.customer_result .conclusion .conclusion_content .concl_form {
  height: 100%;
  padding-top: 38px;
  display: flex;
  flex-direction: column;
}

.customer_result .conclusion .conclusion_content .concl_form /deep/.el-form .el-form-item:last-child {
  margin-bottom: 0;
}

.customer_result .conclusion .conclusion_content .concl_form /deep/.el-form {
  height: 100%;
}

.customer_result .conclusion .conclusion_content .concl_form /deep/.el-form .el-form-item {
  margin-bottom: 10px;
}

.customer_result .conclusion .conclusion_content .concl_form .conclEditor_box {
  height: calc(100% - 120px);
  overflow: hidden;
}

.customer_result .conclusion .conclusion_content .concl_form .conclEditor_box /deep/.el-form-item__content {
  height: 100%;
}

.customer_result .conclusion .conclusion_content .concl_form .conclEditor_box .concl_editor {
  height: calc(100% - 80px);
}

.customer_result .conclusion .dialog-footer {
  text-align: center;
}

.customer_result .specialis /deep/.el-dialog__header {
  display: none;
}

.customer_result .specialis /deep/.el-dialog__body {
  padding: 12px;
}

.customer_result .specialis .btn_group {
  display: flex;
  justify-content: flex-end;
}

.customer_result .specialis .title {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
}

.customer_result .specialis .specialis_table {
  margin-top: 10px;
  height: 400px;
}

.customer_result .specialis .specialis_table /deep/.el-input__inner {
  border: 0 none;
  background-color: transparent;
}

.customer_result .specialis .spec_text {
  height: 120px;
}

.customer_result .specialis .spec_text /deep/.el-textarea__inner {
  height: 100%;
}

.customer_result .recommend /deep/.el-dialog__header {
  display: none;
}

.customer_result .recommend /deep/.el-dialog__body {
  padding: 12px;
}

.customer_result .recommend .btn_group {
  display: flex;
  justify-content: flex-end;
}

.customer_result .recommend .recommend_table {
  margin-top: 10px;
  height: 400px;
}

.customer_result .recommend .btn_group {
  display: flex;
  justify-content: space-between;
}

.customer_result .recommend .btn_group .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.customer_result .recommend /deep/.el-upload-list__item.is-ready {
  display: none;
}

.customer_result .AddOrEdit .proposal {
  margin-bottom: 0;
}

.customer_result .AddOrEdit .proposal .spec_text {
  height: 130px;
}

.customer_result .AddOrEdit .proposal .spec_text /deep/.el-textarea__inner {
  height: 100%;
}

.customer_result .AddOrEdit /deep/.el-dialog__footer {
  padding: 0 12px 12px 12px;
  text-align: center;
}

.customer_result .echarts_dialog /deep/.el-dialog__body {
  padding: 12px;
  height: 350px;
}

.customer_result .echarts_dialog /deep/.el-dialog__footer {
  padding: 0 12px 12px 12px;
}

.customer_result .echarts_dialog .myChart {
  width: 100%;
  height: 100%;
}

.customer_result .triage_dialog /deep/.el-dialog__body {
  padding: 12px;
}

.customer_result .triage_dialog /deep/.el-dialog__footer {
  padding: 0 12px 12px 12px;
}

.customer_result .triage_dialog .personnel_btn {
  display: flex;
  align-items: center;
}

.customer_result .triage_dialog .personnel_btn .time_box {
  display: flex;
  align-items: center;
  width: 330px;
}

.customer_result .triage_dialog .personnel_btn /deep/.el-radio-group {
  margin-left: 20px;
}

.customer_result .triage_dialog .personnel_btn /deep/.el-date-editor {
  margin-left: 10px;
  width: 240px !important;
}

.customer_result .triage_dialog .personnel_Table {
  margin: 10px 0;
}

.customer_result .triage_dialog .personnel_Table .personnel_con_table {
  height: 400px;
}

.customer_result .triage_dialog .text {
  text-align: center;
}

.customer_result .history_pson .table_item {
  height: 400px;
}

.customer_result .word_dia /deep/.el-dialog__header,
.customer_result .word_dia /deep/.el-dialog__body,
.customer_result .word_dia /deep/.el-dialog__footer {
  padding: 10px;
}

.customer_result .word_dia /deep/.el-dialog__body .word_dia_box .title {
  font-size: 22px;
  font-weight: 600;
}

.customer_result .word_dia /deep/.el-dialog__body .word_dia_box .el-textarea {
  margin: 10px 0;
}

.customer_result .word_dia /deep/.el-dialog__body .word_dia_box .tips {
  font-size: 22px;
  font-weight: 600;
  color: red;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  padding: 10px 5px;
}

.customer_result .word_dia /deep/.el-dialog__footer {
  text-align: center;
}

.customer_result .summaryDia /deep/.el-dialog__header,
.customer_result .summaryDia /deep/.el-dialog__body,
.customer_result .summaryDia /deep/.el-dialog__footer {
  padding: 10px;
}

.customer_result .summaryDia /deep/.el-dialog__footer {
  text-align: center;
}

.customer_result .summaryDia /deep/.el-dialog__body {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.el-popover .content .content_item {
  height: 20px;
  margin-bottom: 3px;
  padding: 0 10px;
  cursor: pointer;
}

.el-popover .content .content_item:hover {
  color: #66b1ff;
  background-color: #ecf5ff;
}

.head {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background-color: #f6f7fc;
}

.head .logo {
  width: 7px;
  height: 20px;
  background-color: #5c7ceb;
  border-radius: 3.5px;
  margin-right: 5px;
}
