.diccardtype {
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .subject {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 6px;
        overflow: hidden;
        .search_box {
            display: flex;
            height: 40px;
            width: 100%;
            background-color: #f6f7fc;
            box-sizing: border-box;
            align-items: center;
            justify-content: flex-end;
            padding: 0 20px;
            .sbtn {
                margin: 0 10px;
            }
            .el-input {
                width: 250px;
            }
        }
        .bodymain {
            width: 100%;
            height: calc(100% - 40px);
            box-sizing: border-box;
            padding: 5px;
            .cardtypetable {
                height: 100%;
            }
        }
    }
    .cardtype_dia {
        .el-dialog__header {
            padding: 10px;
        }
        .el-dialog__body {
            padding: 10px;
            .el-select {
                width: 100%;
            }
            .el-date-editor {
                width: 100%;
            }
        }
        .el-dialog__footer {
            padding: 10px;
            text-align: center;
        }
    }
}