.company_report {
    width: 100%;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    .subject {
        width: 100%;
        height: calc(100vh - 125px);
        padding: 10px;
        .bg {
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 6px;
            box-sizing: border-box;
            .search_box {
                height: 90px;
                .head {
                    height: 40px;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                }
                .search_form {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    /deep/.el-select {
                        width: 100%;
                    }
                }
            }
            .table_list {
                height: calc(100% - 90px);
                padding: 0 10px;
                .head {
                    height: 40px;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    // padding: 0 10px;
                }
                .table {
                    height: calc(100% - 40px);
                }
            }
        }
    }
}

/deep/.el-dialog {
    .el-dialog__header {
        display: none;
    }
    .el-dialog__body {
        padding: 10px;
        .btn_group {
            text-align: right;
        }
        .content {
            margin-top: 20px;
            display: flex;
        }
        .el-menu {
            width: 125px;
            height: 250px;
            margin-right: 10px;
            border: 1px solid #99c8e9;
            .el-menu-item {
                height: 30px;
                line-height: 30px;
            }
        }
    }
}